server:
  name: go-users
  port: 8082

mongo:
  uri: mongodb+srv://dbUser:Demoaccount1@projectdemo.g0lah.mongodb.net
  database: user

# location:
#   uri: mongodb+srv://dbUser:Demoaccount1@projectdemo.g0lah.mongodb.net
#   database: location

sql:
  driver: postgres
  data_source_name: host=drona.db.elephantsql.com port=5432 user=guistwkl dbname=guistwkl sslmode=require password=GvIZ6A41hR_uNtGdAe4pZmc-EXbRqLn2
#  data_source_name: host=localhost port=5432 user?=postgres dbname=postgres sslmode=disable password=postgres
  # data_source_name: host=peanut.db.elephantsql.com port=5432 user=yhjnkfrf dbname=yhjnkfrf sslmode=require password=HJ2Z7WiHxBzRKl5e8To_fcIko-i93wda
  # data_source_name: host=ec2-34-199-68-114.compute-1.amazonaws.com port=5432 user=renhnmkhkoqvjr dbname=d1mrc2lb73u081 ssl.rejectUnauthorized=false password=05b33690540167d997be040566dfcbc61a85bcdfad400e69cd76ed81aef7eeeb

redis:
  url: redis://localhost:6379

mail:
  provider: smtp
  from:
    name: Supporter
    address: supporter@gmail.com
  api_key:
  smtp:
    host: smtp.gmail.com
    port: 587
    username: testsmtp318@gmail.com
    password: vaseaqiscbgedkga

max_password_failed: 5
locked_minutes: 60
max_password_age: 90

password_encryption_key:

token:
  secret: secretauthentication
  expires: 86400000
payload:
  ip: ip
  user_id: userId
  username: username
  contact: email
  user_type: roleId

callback_url:
  microsoft: http://localhost:3001/auth/connect/oauth2
  amazon: http://localhost:3001/index.html?redirect=oauth2
  twitter: http://localhost:3001/index.html?redirect=oauth2

status:
  deactivated: D
  suspended: S
  disable: E

auth:
  expires: 3600
  template:
    subject: "%s Verification Code"
    body: "%s Use this code for verification"
  schema:
    id: userId
    user_name: userName
    success_time: successTime
    fail_time: failTime
    fail_count: failCount
    locked_until_time: lockedUntilTime
    roles: roles
    password: password
    password_changed_time: passwordModifiedTime
    status: status
    contact: email
    display_name: displayName
    max_password_age: maxPasswordAge
    user_type: userType
    access_date_from: accessDateFrom
    access_date_to: accessDateTo
    is_two_factor: isTwoFactor

authorize:
  token:
    secret: secretbackoffice
    expires: 86400000
  status:
    timeout: -1
    not_found: 0
    fail: 0
    success: 1
    disabled: 2
    error: 4
  payload:
    ip: ip
    id: id
    user_id: userId
    username: username
    email: email
    user_type: roleId
  user_status:
    activated: A
    deactivated: D
  db:
    id: id
    user: users
    password: passwords
    username: username
    status: status
    success_time: successTime
    fail_time: failTime
    fail_count: failCount
    locked_until_time: lockedUntilTime
  query: select u.id, u.username, u.displayname, email, u.status, p.* from users u
    inner join passwords p
    on u.id = p.id
    where username = $1 and u.status = 'A'

#auth_sql:
#  id: id
#  user: users
#  password: passwords
#  username: username
#  status: status
#  successTime: successTime
#  failTime: failTime
#  failCount: failCount
#  lockedUntilTime: lockedUntilTime
#  pass: update users set last_login = ? where user_id = ?
#  disable: D
#
#user_status:
#  activated: A
#  deactivated: D

key_file: files
provider: google_storage
google_storage:
  bucket: go-firestore-rest-api.appspot.com
  directory: sub
  public: true

google_credentials: '
  {
    "type": "service_account",
    "project_id": "go-firestore-rest-api",
    "private_key_id": "0227f21f734620a0a04a3882249f3b1cb1ab634a",
    "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCrzi/hC6NsGZyR\nc2rurmpACAn5FggHjrUshXCqbsoQUPvrMhTEPQk56hQdHNlMl+ZNue94Cv7D3LCR\nlHu68XOsPAhnx21LHPsMplIobjnXWn+fD+Ow6zvHp9RalS40PrVYS1uuIVYjeets\n8dtdFB3G9ka7Zv8oz4WBN4S18sXsV702OaBMo2IwfArTk2DCY6KYqcNEVde0sd/q\nH6pK1GvDPkgbtcklk5fUgkNz61nufnqYujsnx57GuDT9ZbreAcYTB5/hRcgMjyM6\n8tgYXdjmJLFdTsMABT/YsQ0OmDDwhVQrc0CixZtzMXg+jLRxKZuHELQ+nkJCKJBi\nTtQJ1f+dAgMBAAECggEACdL2+uvi8uX+BXUvmqlfivzKsTMYz3HSG1MgD6bZKBix\nZxAMjvIcinK/prCFHnObKDunHVqnmcSPVivC7XwsDJ+8LU8CiWaFVoJWNVikNxPG\nM27BqtawquiGZI2eQD+LuBpLCkh+t/WbSDYGQKrLTxq7DbFEiu1e6XYmwQ66UZrU\ny1U7YuRw2ML+6BiHaSdq3FH3wvBbsAfwZoNnqdqTjaj01EkNsi/lOmFXHY8gPOA1\nGRI20R4KhRkctIC4ZztXg50bRzuIkz+YX57F36kEqpLaXePUQ/pHWg+76rsCd2dD\nIrcQF8Y+Hbp4eP+7CBu3AUltOzuNeC6h69B8MKCrowKBgQDTCrzCD0SThL+6NcPR\njzwFydDbapfgzGYvleEOEUTy2akAdydrcAHlMDcuUZv7xyjam5CVS/B4vLRynl6J\n8KHkdAuU8ZLESdnfo2X9GgJWBw/RK6spebEcslWINVJWwWWsQrtjMr58WVS4hWAE\nxBIKumhf5/EICZW+BueT3j0WtwKBgQDQZ6tFc3OGE0YFVIQkalQd751dsgtjQhVZ\n4huwzaUZdtFlNJm1B6yVn9ksGAM2q0iCxDQBPOM7AF+nEpeBz+pMmdpWiOb6sKC6\nVoqIgts7lNMp2h4kJLUePgWVarbuACS1VX3qSpqdcklaAi+5WnObzC8bsmaLbZxp\nmpk4gvpoSwKBgEjoj7d3MNjJ5ra89k6CblkNlNMIqzmlQ7Qy0lJa0vgXDBS2FW8/\nfdgg5R9iYEIGVu3XCocZehUsFCb44W5ELJnRIWMuZebcIKHrQEPFZYM041j+/h3R\nBcgFMBljWnPQUoDFeRlXIYmyDtvEcByVZCpCpeZkKdf9/7ZrijuCbpZXAoGARY4k\nEoTqzJfIKeVASSsXsfoUCn5u4IzgtWQKm+K2tJ38WwvINSw/hJyaDeZhxDA8fjBf\nrv4UVM/WHNvOpyuuZix/O5xrgsXKjwZtLAyIgQU1yOUcZDHAJTzL/kdkkGCJ39+N\nq9GEcwH+y0SpivJOXXQzUMolAWnu5ywK8Vp9mqsCgYBaCkZuQ3xMkWPSYWwJ2mpq\nBrH0Zpk3ddDGo63w97C9z7zX6tIP1uxVvKVGA3LQPaj8Zvbuks8DYWV8a/6RGIP/\nTH5On0uX/VNkI1Wk9R3tstyzz7MRaBAHQOt26/le/XOptcJXWB29uKEJPpq/sfHb\nx66rIAZO4BgLcslDTj3Y2g==\n-----END PRIVATE KEY-----\n",
    "client_email": "go-firestore-rest-api@appspot.gserviceaccount.com",
    "client_id": "106958727954036268529",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/go-firestore-rest-api%40appspot.gserviceaccount.com"
  }'
  
sign_up:
  expires: 3600
  user_verified:
    secure: false
    domain: localhost
    port: 3002
    action: /signup/verify
  user_status:
    registered: R
    verifying: V
    activated: A
  schema:
    user_id: id
    user_name: userName
    contact: email
    # signed_up_time: signedUpTime
    language: language
    max_password_age: maxPasswordAge
    date_of_birth: dateOfBirth
    given_name: givenName
    middle_name: middleName
    family_name: familyName
    gender: gender
    created_time: createdAt
    created_by: createdBy
    updated_time: updatedAt
    updated_by: updatedBy
    version: version
  template:
    subject: Verify your email address
    body: |
      Please click this link to confirm to activate your account:<br><a href="%s">Confirm Now</a><br><br>
      If the above button doesn't work for you, please click on the below link or copy paste it on to your browser<br>
      <a href="%s">%s</a><br><br>
      Your link will expire after "%s" minutes.
      <br><br><br>
      Hẫy nhấn đường link ở đây để kích hoạt cài khoản của bạn: <br><a href="%s">Xác nhận</a><br><br>
      Nếu đường link đó không hoạt động, hãy sao chép đường link đó và dán vào trình duyệt web của bạn<br>
      <a href="%s">%s</a><br><br>
      Đường link này sẽ hết hạn sau "%s" phút.
  status:
    ok: 1
    username: 2
    contact: 3
    error: 0

oauth2:
  services: google
  schema:
    user_id: userId
    user_name: userName
    email: email
    status: status
    oauth2_email: Email
    account: Account
    active: Active
    picture: picture
    locale: language
    gender: gender
    date_of_birth: dateOfBirth
    given_name: givenName
    middle_name: middleName
    family_name: familyName
    display_name: displayName
    created_time: createdTime
    created_by: createdBy
    updated_time: updatedTime
    updated_by: updatedBy
    version: version

password:
  exp1: '.{8,}'
  exp2: '([a-z]){1,}'
  exp3: '([A-Z]){1,}'
  exp4: '([\d]){1,}'
  change_expires: 420
  reset_expires: 420
  schema:
    user_id: id
    user_name: userName
    to_address: email
    password: password
    faild_count: failCount
    history: history
  template:
    reset:
      subject: Passcode to reset password
      body: |
        Your user name is '%s'. This is the passcode to reset your password: %s. This passcode will expire in %s minutes.
        Tên đăng nhập của bạn là '%s'. Hãy dùng mã sau để tạo mật khẩu lại: %s. Mã này sẽ hết hạn trong %s phút.
    change:
      subject: Passcode to change password
      body: |
        Your user name is '%s'. This is the passcode to reset your password: %s. This passcode will expire in %s minutes.
        Tên đăng nhập của bạn là '%s'. Hãy dùng mã sau để thay đổi mật khẩu: %s. Mã này sẽ hết hạn trong %s phút.

template: true

log:
  level: info
  duration: duration
  map:
    time: "@timestamp"
    msg: message

middleware:
  log: true
  skips: /health
  request: body
  response: response
  size: size
